@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bayon&family=Poiret+One&family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bayon', sans-serif;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}

:root{
    --primary: #FF5400;
}

body{
    background: #fff;
    overflow: hidden;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}

.background{
    width: 50%;
    height: 475px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .4),
                10px -10px 10px rgba(0, 0, 0, .4),
                10px  10px 10px rgba(0, 0, 0, .4);
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.gradients{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.gradient[color="orange"]{
    background: linear-gradient(to right, rgba(255, 85, 0, 0.9), rgba(3, 29, 122, 0.9));
}

.gradient[color="green"]{
    background: linear-gradient(to right, rgba(0, 204, 192, 0.9), rgba(255, 72, 88, 0.9));
}

.gradient[color="pink"]{
    background: linear-gradient(to right, rgba(255, 54, 171, 0.9), rgba(100, 44, 169, 0.9));
}

.gradient[color="blue"]{
    background: linear-gradient(to right, rgba(4, 41, 64, 0.9), rgba(0, 92, 83, 0.9));
}

.logo{
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
}

.share{
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--primary);
    border: 2px solid var(--primary);
    transition: .5s;
    z-index: 3;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

.brand{
    position: absolute;
    top: 85px;
    right: 50px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 14rem;
    rotate: 270deg;
    left: 0;
    color: white;
}

.shoe{
    position: absolute;
    width: 30%;
    right: 55%;
    opacity: 0;
    transform: rotate(-80deg);
    z-index: 2;
}

.shoe.show{
    opacity: 1;
}

.info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 500px;
    background: #faf8f8;
    padding: 15px 40px;
    z-index: 1;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .4),
                10px -10px 10px rgba(0, 0, 0, .4),
                10px  10px 10px rgba(0, 0, 0, .4);
    right: 17%;
    border-radius: 50px;
}

.name{
    padding: 0 0 10px 0;
}

.name > div{
    display: flex;
    align-items: center;
}

.name > div .big{
    margin-right: 10px;
    font-size: 3rem;
    color: var(--primary);
    line-height: 1;
    text-shadow: 1px 1px 1px black;
}

.description{
    padding: 10px 0;
}

.title{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 10px 0;
}

.text{
    color: #555;
    font-size: 17px;
}

.colors{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color{
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
}

.color[color="orange"]{
    background: radial-gradient(circle at 10% 50%, rgba(255, 85, 0, 0.8), rgba(3, 29, 122, 1));
}

.color[color="green"]{
    background: radial-gradient(circle at 10% 50%, rgba(0, 204, 192, 0.8), rgba(255, 72, 88, 1));
}

.color[color="pink"]{
    background: radial-gradient(circle at 10% 50%, rgba(255, 54, 171, 0.8), rgba(100, 44, 169, 1));
}

.color[color="blue"]{
    background: radial-gradient(circle at 10% 50%, rgba(2, 78, 126, 0.8), rgba(0, 92, 83, 1));
}

.color.active{
    border: 2px solid #fff;
    box-shadow:  1px 1px 1px rgba(0, 0, 0, 1);
    transform: scale(1.6);
}

.sizes{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.size{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    background: #eee;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.size.active{
    background: var(--primary);
    color: #fff;
}

.prices{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    padding: .7rem 1rem;
    background: var(--primary);
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s;
}

.prices h3{
    color: #333;
    font-size: 1.3rem;
    margin: 5px;
}

.frist{
    z-index: 0;
    animation: 1s width linear;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}


/*Resposive for smaller devices*/

@media screen and (max-width: 1024px){

    .brand{
        top: 40%;
        right: 30%;
        font-size: 10em;
    }

    .shoe{
        right: 50%;
        width: 40%;
    }

    .big{
        margin-top: 10px;
    }

    .info{
        align-items: flex-end;
    }

    .share{
        right: -20px;
    }

}
